# Name - Patil yogeshwar madhukar
# Email - yogeshwarhs@gmail.com
# contact number - 8446805235
# college - 8446805235

# Question number one

In [1]:
salary = int(input('enter your salary'))
duration = int(input("please enter your experience"))
if  duration > 5:
    bonus = (salary*5)/100
    print (bonus)
else:
    print("you are not eligible")

enter your salary5000
please enter your experience6
250.0

# Question two

In [2]:
marks = float(input("enter your marks"))
if marks < 25:
    print('your grade is f')
if 25<=marks<45:
    print('your grade is E')
if 45<=marks<50:
    print('your garde is d')
if 50<=marks<60:
    print('your grade is c')
if 80<marks:
    print('your grade is a')

enter your marks56
your grade is c

# Question three

In [3]:
classes_held = int(input('enter number classes helded '))
classes_attended = int(input('enter the number of classes held '))
attendence = (classes_attended/classes_held)*100
print (attendence)
if attendence<75:
    print('your not elgible for exam')

enter number classes helded 80
enter the number of classes held 50
62.5
your not elgible for exam

# Question four

In [62]:
age = int(input('enter your age '))
sex = (input('enter your sex M or F '))
marriage_status = (input('enter your marriage status yes or no '))
if sex == 'F':
    
    print("she will work only one in urban area")
if sex == 'M' and 20 < age < 40:
    print('you can work anywhere')
if sex =='M' and 40 < age <=60:
    print("you can work in urban area")
else:
    print ('error')

enter your age 22
enter your sex M or F F
enter your marriage status yes or no no
she will work only one in urban area
error

# Question five

In [16]:
sum =0
print ("enter 10 integer") 
for i in range(10):
    number = int(input())
    sum = sum + number
average = sum / 10
print (f'average of 10 integer {average}')

enter 10 integer
1
2
3
4
5
6
7
8
9
9
average of 10 integer 5.4

# Question six

In [73]:
number = int(input('enter the number'))
factorial = 1
for i in range(1, number+1):
    factorial = factorial*i
print(f'factorial of the number is {factorial}')

enter the number5
factorial of the number is 120

# Question seven

In [8]:
sum = 0
count = 0
print ("enter integers")
for i in range(1,1000):
    number = int(input())
    sum = sum + number
    count = count + 1
    average = sum / 10
    quit = input("do you want to quit (if you press'q'):")
    if quit == 'q' :
        break
average = sum/count
print (f'average of integer {average}')

enter integers
1
do you want to quit (if you press'q'):
2
do you want to quit (if you press'q'):
3
do you want to quit (if you press'q'):
4
do you want to quit (if you press'q'):
5
do you want to quit (if you press'q'):q
average of integer 3.0

# Question eight

In [11]:
print ('amstrong number is between 100 to 500 are \n')
for i in range (100,500):
    a= i % 10
    ba = i // 10
    b = ba % 10
    c = ba // 10
    sum_cube = (a*a*a)+(b*b*b)+(c*c*c)
    if i == sum_cube:
        print(i)

amstrong number is between 100 to 500 are

153
370
371
407

# question nine

In [12]:
x = ('refrigrator')
print("length of string 'refrigrator' is ")
count = 0
for i in x:
    count = count +1
print(count)

length of string 'refrigrator' is
11

# Question Ten

In [7]:
Print('enter your name: ')
name = input()
size = len(name)
count = 0
for i in range(size):
    first = name[0]
    if name[i] == ' ':
        middle = name[i+1]
        a = i+1
        break
for j in range(a, size):
    if name[j] == ' ':
        last = name[j+1:size]
        break
print(f'your name is {first}, {middle}, {last}')

enter your name:
Yogeshwar madhukar patil
your name is Y, m, patil